* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(154, 195, 195);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  margin-bottom: 20px;
}
.item__counter {
  width: 100%;
  min-height: 30px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__button {
  width: 15px;
  min-height: 20px;
}

.item__number {
  padding-left: 10px;
  padding-right: 10px;
}

.item img {
  width: 100%;
  border-radius: 5px;
}

.item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.item select {
  margin-top: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f5f5f5;
}

#total-price-cell {
  font-weight: bold;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.count-value {
  margin: 0 5px;
  font-weight: bold;
}

.minus-button,
.plus-button {
  background-color: #ccc;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.minus-button:hover,
.plus-button:hover {
  background-color: #aaa;
}

.minus-button:active,
.plus-button:active {
  background-color: #444;
}

.delete-button {
  background-color: #ff0000; /* установка цвета фона */
  color: #fff; /* установка цвета текста */
  border: none; /* убираем рамку */
  padding: 8px 12px; /* установка внутренних отступов */
  border-radius: 50%; /* установка радиуса скругления */
  cursor: pointer; /* установка вида курсора */
}

/* добавление иконки мусорного ведра */
.delete-button::before {
  content: "\f1f8"; /* код иконки из шрифта Font Awesome */
  font-family: "Font Awesome 5 Free"; /* указываем название шрифта */
  font-weight: 400; /* указываем толщину шрифта */
  font-size: 16px; /* указываем размер шрифта */
  margin-right: 8px; /* устанавливаем отступ между иконкой и текстом */
}

.cart-icon-container {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.fa-trash {
  cursor: pointer;
  transition: all 0.2s;
}

.fa-trash.cart-has-items {
  color: red;
}

.total-price-cell {
  display: flex;
  justify-content: center;
}